body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.a {
    color: blue;
}

.m {
    display: flex;
}

.b {
    width: 50%;
    padding-left: 50px;
}

.b img {
    width: 35%;
    padding-left: 30%;
}

.c {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.d {
    background-image: url(images/top-banner.png);
}

.f {
    width: 50%;
}

.f img {
    width: 60%;
    padding: 30px 50px;
}

.z {
    color: blue;
}

.x {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.n {
    box-shadow: 10px 10px 50px gray;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    border-radius: 10px;

}

.m {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

#p {
    border-left: 5px solid pink;
}

#q {
    border-left: 7px solid;
    border-image: linear-gradient(blue skyblue);
    border-image-slice: 1;
}