body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.a {
    color: blue;
}

section {
    display: flex;
}

.b {
    width: 50%;
    padding-left: 50px;
}

.b img {
    width: 35%;
    padding-left: 30%;
}

.c {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.d {
    background-image: url(images/top-banner.png);
}